* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1.8;
  background-color: #fff;
  color: #282828;
  font-size: 15px;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 100px;
  height: 60px;
  padding: 20px 0;
  font-size: 14px;
}

.left-menu {
  display: flex;
  flex: 1;
  margin-left: 20px;
}

.menu-item {
  padding: 0 7px;
}

.menu-item a {
  padding-bottom: 5px;
}

.menu-item a:hover {
  border-bottom: 2px solid black;
}

.btn {
  color: white;
  background-color: #262626;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  font-weight: bold;
  margin: 10px 0;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.8;
}

.showcase {
  height: 400px;
  width: 100%;
  margin-right: 5px;
  background: url("./img/backgroundnew.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}

.product-details {
  align-self: center;
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 0;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-img {
  width: 100%;
  margin-bottom: 10px;
}

.card-btn {
  color: rgb(44, 119, 189);
  background-color: transparent;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.product-details a:hover i {
  margin-left: 15px;
}

.x-box-section {
  background: url("./img/xbox-img.png");
  background-size: cover;
  height: 500px;
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.x-box-section h1 {
  text-align: left;
  font-size: 30px;
  font-weight: bolder;
  word-spacing: 0%;
  max-width: 300px;
}

.x-box-section p {
  text-align: left;
  max-width: 400px;
  margin-bottom: 20px;
}

.x-box-section-contents {
  width: 30%;
}

.carbon-section {
  background: url("./img/carbon.png");
  color: white;
}

.carbon-btn {
  background-color: white;
  color: black;
}

.social-media-section {
  display: flex;
}

.footer-section-one {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  max-width: 1100px;
}


.footer-sub-section-two > ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.footer-sub-section-two li {
  margin: 0 20px;
  font-weight: 500;
}

.footer-section {
  background-color: rgb(228, 228, 228);
  padding: 20px;
}
